{% extends 'base.html.twig' %}

{% block body %}
    Next events:

    <ul>
    {% for event in events %}
        <li>
            <a href="{{ path('events.event', {'event':event.id}) }}">{{ event.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
